@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400;500;700&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

/* FONT FAMILIES */

/* 

font-family: 'Bebas Neue', cursive;
font-family: 'Raleway', sans-serif;

*/

/* BASE COLOR PALLETE VAR NAMES */
:root{
	--base-color: 	white;
	--text-color:	#262b3d;
	--accent-color: #ec6445;
	--link-color:	#224083;
	--medium-color: #fcd73f;
	--light-color: 	#ebeaed;
	--shadow: 0px 7px 10px 0px rgba(38, 43, 61, 0.87);
	--shadow-small: 2px 3px 6px rgba(38, 43, 61, 0.87);
}


.button.button-outline, 
button.button-outline, 
input[type='button'].button-outline, 
input[type='reset'].button-outline, 
input[type='submit'].button-outline {
	color: var(--accent-color);
}

.button.button-outline:hover,
button.button-outline:hover,
input[type='button'].button-outline:hover, 
input[type='reset'].button-outline:hover, 
input[type='submit'].login-form:hover {
	color: var(--medium-color);
	border: 2px solid var(--light-color);
	background-color: transparent;
}

/* MOBILE SCREEN */
body {
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: var(--base-color);
	color: var(--text-color);
	margin: 0;
}
img{
	width:100%;
}

main.content {
    padding: 5px;
}

a {
	color: var(--accent-color);
}

select:focus {
	border-color: var(--accent-color);
	/* background-image: none; */
}

select {
	border: 0.1rem solid var(--accent-color);
}


/* MOBILE GRID */
.header {
	/* min-height: 100vh; */
	display: grid;
	grid-template-areas:
	"logo logo" 
	"search menu";
	grid-template-columns: 55% 45%;
    justify-content: space-between;
}

.header .logo{
	grid-area: logo;
	margin-bottom: .5rem;
}

.header ul.menu {
	grid-area: menu;
	display: flex;
	flex-direction: row;
	padding: 15px 5px 0 0;
	font-weight: 500;
    max-width: 200px;
    float: right;
}

.header ul.menu li ,
.header ul.menu span.menu {
    margin: 1rem 1.125rem 0 0;
    font-size: 1.25rem;
    font-weight: 500;
}

.header ul.menu li a:hover {
	color: var(--accent-color);
}

.header ul.menu li.profile_pic {
    margin-top: 0;
}

.header ul.menu li a {
	text-decoration: none;
	color: var(--text-color);
}

a.add-post-button {
    background-color: var(--light-color);
    border-radius: 100px;
    padding: 8px 10px;
    font-size: 1.25rem;
}

.header form {
	grid-area: search;
	margin: 8px 0 0 5px;
}

.header .main-navigation {
	padding-left: .25rem;
}
.header span.no-login {
	font-size: 2rem;
	line-height: 4rem;
	margin-right: 1.75rem;
}

/* HEADER NO NAV */
.header-nonav h4 {
    font-size: 4.35rem;
    font-weight: 500;
    color: var(--accent-color);
    padding-left: 8px;
}

/* POPULAR POSTS */
h2.section-heading {
	margin-bottom: 1rem;
	font-size: 3rem;
}
.popular-container {
    display: flex;
    flex-wrap: wrap;
	margin-bottom: 18px;
}

div.popular-post a.popular-post img {
	border-radius: 10px;
	box-shadow: var(--shadow-small);
}

div.popular-post {
    position: relative;
    width: 63px;
    margin: 0 12px;
}

.author.popular img {
    width: 32px;
    position: absolute;
    top: 42px;
    left: 48px;
}


/* SEARCH FORM */
.header form span {
    border-radius: 50px;
    border: none;
    background-color: var(--light-color);
	padding: 1rem;
}

.header form input[type="search"] {
    border: none;
    background-color: transparent;
	width: 140px;
	padding-top: 19px;
}

.header form button {
    background-color: transparent;
    border: none;
	padding: 0;
}

i.fa.fa-search {
    font-size: 1.15rem;
    color: var(--text-color);
}

/* SEARCH PAGE */
#search .one-post p.post-description{
	padding-bottom: 25px;
}

section.search-title h2 {
    font-size: 3.25rem;
    line-height: 1.25;
	margin-bottom: 0;
}

section.search-title h3 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

section.pagination {
	padding-left: 8px;
}

section.pagination h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section.pagination .button.button-outline {
	border: 2px solid white;
}



/* LOGGED IN USER */
i.fas fa-plus {
    background-color: var(--light-color);
    border-radius: 70px;
    padding: .45rem .5rem;
}

/*PROFILE PICS*/
.author img, li.profile_pic img{
	vertical-align: middle;
	box-shadow: var(--shadow-small);
	border-radius: 50px;
	width: 42px;
}

/* EXPLORE FEED */
.explore-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-gap: 1rem;
}

/* ONE POST ON FEED */
.one-post {
	border-radius: 20px;
	margin-bottom: 20px;
	background-color: var(--light-color);
	box-shadow: var(--shadow-small);
	position: relative;
	max-width: 350px;
	margin: 0 auto 25px;
	padding-bottom: 10px;
}

.one-post .post-image img,
.one-post img{
	border-radius: 20px;
}

.one-post span.author a {
    font-size: 1.75rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 2.625rem;
}

span.author a img {
    margin-right: 8px;
	border-radius: 50px;
}

.one-post h3 {
    font-size: 4rem;
    position: absolute;
    top: 300px;
    left: 20px;
    color: white;
    font-weight: 500;
}

.one-post p.post-description {
    margin: 8px 15px;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: 400;
}

.gradient {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,262b3d+98&0+0,1+94,1+99 */
background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(42,49,68,1) 94%, rgba(38,43,61,1) 98%, rgba(38,43,61,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(42,49,68,1) 94%,rgba(38,43,61,1) 98%,rgba(38,43,61,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(42,49,68,1) 94%,rgba(38,43,61,1) 98%,rgba(38,43,61,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#262b3d',GradientType=0 ); /* IE6-9 */
height: 362px;
position: absolute;
top: 0;
right: 0;
}

div.special-author-container {
    display: flex;
    justify-content: space-between;
	padding: 10px 15px;
}

span.post-info {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px 0;
}

span.post-info p {
    color: var(--text-color);
	font-weight: 500;
	font-size: 1.25rem;
}

#home .rating-container {
	padding-top: 0;
}

/* NUTRITION TABS */
.nutrition {
	display: flex;
	color: white;
	font-family: 'Raleway', sans-serif;
	justify-content: center;
}

.nutrition div {
    height: 130px;
    background-color: var(--accent-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    text-align: center;
	margin: 0 7px;
}

.nutrition i.fas.fa-clock {
    font-size: 5.5rem;
}

i.fas.fa-user-friends {
	font-size: 4.4rem;
	margin-bottom: 9px;
}

i.fas.fa-fire {
    font-size: 5rem;
    margin: 1px 8.75px 1px;
}

i.fas.fa-layer-group {
    font-size: 5rem;
	margin: 2.5px;
}

.nutrition p {
	font-size: 3.125rem;
    line-height: 3rem;
    padding-bottom: 3px;
    font-weight: 600;
	margin-bottom: 0;
}

.nutrition p.description {
	font-size: 1.125rem;
}

.nutrition p.level {
    margin-top: 7px;
    font-size: 1.25rem;
}


/*Profile Page*/
/* Tab Navigation */
section.content{
	display: none;
	text-align: center;
}

nav.tab-list {
    margin-bottom: 20px;
}

section.visible{
	display: block;
}

.tab {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background: var(--text-color);
    font-size: 1.5rem;
    width: 49%;
    text-align: center;
    font-weight: 500;
	border: 2px solid transparent;
}

.tab:hover,
.tab.active {
	color: #ffffff;
    background: var(--accent-color);
	border: 2px solid var(--medium-color);
}

#portfolio section.portfolio-options nav {
	justify-content: center;
}

#portfolio section.portfolio-options a {
    margin: 20px;
}

section.content img {
    width: 49%;
    padding: 8px;
}

.profile .author img {
    width: 80px;
}

.profile .author h2 {
    margin-bottom: .5rem;
}

.profile .author p {
    font-size: 1.5rem;
    font-weight: 500;
}

.profile .button.button-outline {
    border: 2px solid white;
	margin: 0 auto;
}

.profile .edit {
	margin: 10px 0 20px;
	text-align: center;
}

/* RECIPE/CATEGORIES SECTION */
div.profile-grid {
	display: flex;
    flex-wrap: wrap;
}

.little-post {
    width: 33%;
}

section.content#recipes img,
section.content#categories img {
	width: 100%;
	padding: 3px;
	border-radius: 20px;
}

section#categories {
    text-align: left;
	border-color: var(--accent-color);
}

select.category-dropdown {
    margin: 20px 0 10px;
    max-width: 300px;
}

p.category-feedback {
	font-size: 2rem;
	font-weight: 400;
}

/* EDIT PROFILE */
div.box-container {
	margin: 0 auto;
    max-width: 350px;
    position: relative;
    width: 100%;
    background-color: var(--light-color);
	box-shadow: var(--shadow-small);
    border-radius: 20px;
}

#edit-profile .button.button-outline {
	background-position: 50% 82%;
}

textarea {
	background-color: white;
}

#edit-profile {
	background-color: var(--light-color);
    border-radius: 20px;
    padding: 20px;
    max-width: 350px;
    margin: 30px auto;
}

.content#edit-profile form {
	margin: 0;
}

#edit-profile input[type='submit'] {
    margin-bottom: 5px;
	display: block;
}


/* ADD POST */
.content#box-container {
	background-color: var(--light-color);
    border-radius: 20px;
    padding: 20px;
    max-width: 350px;
    margin: 30px auto;
}

.content#box-container form {
	margin: 0;
}

#box-container input[type='submit'] {
    margin-bottom: 5px;
	display: block;
}

/* EDIT POST */
main#edit-post {
    background-color: var(--light-color);
    border-radius: 20px;
    padding: 20px;
    max-width: 750px;
    margin: 30px auto;
}

#edit-post img {
	max-width: 350px;
    padding: 3px;
    border-radius: 20px;
}

#edit-post input[type="text"] {
    width: 300px;
    font-size: 2rem;
}

#edit-post #sfield input[type="text"] {
    min-width: 500px;
    font-size: 2rem;
}

#edit-post textarea {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

#edit-post select {
	max-width: 300px;
}

#edit-post span {
    font-size: 2rem;
    font-weight: 500;
    color: var(--accent-color);
}

#edit-post input[type="number"] {
    max-width: 80px;
    margin-right: 5px;
	background-color: white;
}

#edit-post fieldset div {
	display: flex;
}

#edit-post fieldset label {
	font-size: 2rem;
	padding: 10px;
}

#edit-post fieldset {
	margin-bottom: 0;
}

#edit-post button.button-outline {
	margin-left: 36px;
	background-color: var(--text-color);
    border-radius: 100px;
    padding: 0;
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
}



/* DEBUG */
.debug-output{
	padding:1em;
}
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

/* SINGLE POST */
#single .one-post h2 {
    margin-bottom: 1rem;
}

#single .one-post p.description {
    font-size: 1.35rem;
    line-height: 2.125rem;
	margin-bottom: .25rem;
}

#single .one-post p.category {
    font-size: 1.25rem;
    font-weight: 500;
}

/* list style changed from reset.css */
#single .one-post ol, ul {
	font-size: 1.5rem;
	padding-left: 10px;
}

#single .one-post ul{
    list-style-type: unset;
}

::marker {
    font-weight: 500;
    font-size: 1.85rem;
}

p.comment-count {
    font-size: 2rem;
    padding-top: 5px;
}

#single h4 {
    font-size: 2.5rem;
    letter-spacing: -.08rem;
    line-height: 1.35;
    margin-bottom: .5rem;
}

#single .nutrition{
	padding-bottom: 20px;
}

.box-container {
    padding: 0 8px;
}

#single h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    font-weight: 500;
    margin-bottom: 1rem;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.one-comment {
	font-size: 1.75rem;
	color: var(--text-color);
    font-weight: 500;
    line-height: 2.625rem;
}

.one-comment p {
	margin-bottom: 0;
	line-height: 1.25rem;
}

.one-comment span {
	color: var(--accent-color);
	font-size: 1.25rem;
}

.one-comment .user.author img {
	margin-right: 8px;
}

.comment-form {
	margin-top: 30px;
	margin-bottom: 5px;
}

#single .box-container {
	padding: 1rem 2rem 0;
}

#single div.box-container {
	padding: 20px 20px 10px;
}


/* LOGIN FORM/SIGNUP FORM */
.container.login-form,
.container.signup-form {
    margin: 0 auto;
    max-width: 112rem;
    padding: 2rem;
    position: relative;
    width: 100%;
    background-color: var(--light-color);
    border-radius: 20px;
}

.container.login-form h1,
.container.signup-form h1 {
	font-weight: 500;
}

.container.login-form form,
.container.signup-form form {
	margin-bottom: 0;
}

input[type="text"], 
input[type="password"],
input[type="email"] {
    background-color: white;
	max-width: 400px;
}

input[type='submit'].login-form,
input[type='submit'].signup-form {
    border: 2px solid var(--light-color);
	display: block;
}

.container.login-form p {
	font-size: 1.25rem;
}

.container.login-form p a {
	color: var(--accent-color);
	font-weight: 500;
}

/* SIGN UP */
a.terms-link {
	color: var(--accent-color);
}



.author,  .user{
	display: block;
	margin: .75em 0;
}
.author-profile{
	text-align: center;
	max-width:600px;
	margin:auto;
}
.author-profile img{
	margin:1.5em 0 .75em;
} 

/*
== form feedback system 
*/
.feedback{
	background-color: beige;
	padding:1em;
	margin:1em 0;
	max-width: 700px;
}
.error {
    background-color: rgba(236, 100, 69, .85);
    border-radius: 20px;
}
.success{
	background-color: rgba(34, 64, 131, .5);
    border-radius: 20px;
    color: white
}
.success a {
	color: var(--link-color);
	font-weight: 500;
}
.success h2 {
	font-size: 3rem;
}
.success .button.button-outline {
    margin: 18px 0 0;
	border: 2px solid var(--accent-color);
}
.important{
	width:100%;
	max-width: 100%;
}
.important-form{
	max-width:600px;
	margin:1em auto;
}
.title{
	margin:1em;
	border-bottom:solid 1px #bbb;
}


.button, button, input[type='button'], input[type='reset']{
	background-color:var(--accent-color);
	border-color:var(--accent-color);
}

.button.button-outline {
	background-image: url(../images/copysnatch-button.png);
	background-size: cover;
	background-position-x: right;
	background-position-y: bottom;
	color:var(--accent-color);
	border-color: var(--light-color);
    border: 2px solid var(--light-color);
	border-radius: 20px;
	margin-top: 5px;
}

input[type='submit'] {
	background-image: url(../images/copysnatch-button.png);
	background-size: cover;
	background-position-x: right;
	background-position-y: bottom;
	color:var(--accent-color);
	border-color: var(--base-color);
    border: 2px solid var(--base-color);
	border-radius: 20px;
	margin-top: 5px;
	background-color: transparent;
}

#single textarea {
    margin-bottom: 0;
}

/*
Star rating CSS From Rogie's pen: 
@link http://codepen.io/rogie/pen/GIfqc/ 
*/
.loading{
	background: #eee;
}
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 120px;
  height: 24px;
  overflow: hidden;
  position: relative;
 						 /* 20x20 gray star icon */
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  					/*yellow star*/
  /* background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4='); */
  background: url(../images/star-rating.png);
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
/*inputs*/
.star-rating input:hover + i,
.star-rating input:checked + i{
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
/*outputs*/
.rating-1 i:nth-child(1){
	opacity: 1;
}
.rating-2 i:nth-child(2){
	opacity: 1;
}
.rating-3 i:nth-child(3){
	opacity: 1;
}
.rating-4 i:nth-child(4){
	opacity: 1;
}
.rating-5 i:nth-child(5){
	opacity: 1;
} 


/* ADDITION TO RATING STYLING */
/* SINGLE POST STYLING */
.rating-container {
    text-align: right;
	padding-top: 10px;
}

/* ABOUT US PAGE */
.about {
	padding: 20px;
}

img.owner-pic {
    border-radius: 80px;
    width: 100px;
    float: left;
    margin: 0 20px 10px 0;
}

/* FOOTER */
footer {
    background-color: var(--text-color);
    padding: 20px;
}

footer img {
	width: 300px;
}

ul.footer-menu {
    list-style-type: none;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 15px;
}

ul.footer-menu li a {
    color: white;
}

ul.footer-menu li a:hover {
    color: var(--accent-color);
}

@media screen and (min-width: 730px) {

	.header {
		grid-template-areas:
			"logo menu"
			"logo search";
		grid-template-rows: 30% 70%;
	}

	.header form {
		text-align: right;
		margin: 20px 20px 0 0;
	}

	/* NAVIGATION MENU */
	.header ul.menu {
		padding: 25px 15px 0 0;
		max-width: 300px;
	}

	.header ul.menu li, 
	.header ul.menu span.menu {
		margin: 1rem 2rem 0 0;
		font-size: 1.75rem;
	}

	a.add-post-button {
		padding: 8px 11px;
		font-size: 1.875rem;
	}

	li.profile_pic img {
		width: 52px;
	}

	.header form input[type="search"] {
		width: 175px;
	}

	.author img {
		width: 52px;
	}

	.header span.no-login {
		font-size: 3rem;
		line-height: 4.75rem;
	}

	main.content {
		padding: 20px;
	}

	.content#home {
		max-width: 1180px;
	}

	/* HEADER NO NAV */
	.header-nonav {
		display: flex;
	}

	.header-nonav h4 {
		text-align: right;
		padding: 20px;
		font-size: 6rem;
		font-weight: 600;
		max-width: 600px;
	}

	/* SEARCH PAGE */
	main.content#search {
		max-width: 1080px;
		margin: 0 auto;
	}




	/* SINGLE POST */
	#single {
    	max-width: 900px;
    	margin: 0 auto;
	}
	#single .one-post {
		display: grid;
		grid-template-areas: "post-details post-image"
							 "nutrition nutrition"
							 "ingredients ingredients"
							 "instructions instructions"
							 "details details";
		grid-template-columns: 60% 40%;
		max-width: 900px;
		padding-left: 12px;
	}

	#single .one-post img.post-image {
		padding-left: 40px;
		grid-area: post-image
	}

	#single .one-post .post-details {
		grid-area: post-details;
		max-width: 400px;
	}

	#single div.special-author-container {
		flex-direction: column;
		padding: 8px 0 0;
	}

	#single .rating-container {
		text-align: left;
		height: 50px;
		margin-bottom: 4.25rem;
	}

	#single .one-post div.post-details p.description {
		font-size: 1.75rem;
		margin-bottom: 0.45rem;
	}

	#single .one-post p.category {
		font-size: 1.35rem;
		font-weight: 600;
	}

	#single .one-post .nutrition {
		grid-area: nutrition;
		margin: 30px 0;
	}

	#single .one-post .ingredients-container {
		grid-area: ingredients;
		display: flex;
		flex-direction: column;
	}

	#single .one-post .instructions-container {
		grid-area: instructions;
		display: flex;
		flex-direction: column;
	}

	.post-footer {
		grid-area: details;
		padding: 0 15px;
	}


	/* PROFILE PAGE */
	main.content#profile  {
		max-width: 800px;
		margin: 0 auto;
	}

	#profile .author-profile {
		text-align: left;
		max-width: unset;
	}

	#profile .profile .edit {
		text-align: left;
	}

	.tab {
		font-size: 2.25rem;
		max-width: 420px;
	}

	.content#box-container {
		max-width: 500px;
	}

	/* POPULAR POST */
	div.popular-post {
		width: 75px;
		margin: 0 18px;
	}

	.author.popular img {
		width: 40px;
		top: 52px;
	}

	/* ADD A POST/EDIT PROFILE */
	#box-container form label,
	#edit-profile form label {
		font-size: 2rem;
	}

	div.box-container {
		max-width: 900px;
	}

	/* ABOUT US PAGE */
	.about p {
		font-size: 1.25rem;
	}


}



@media screen and (min-width: 1180px) {

	main.content#single,
	main.content#search,
	main.content#box-container,
	main.content#edit-post,
	main.content#edit-profile,
	main.content#profile {
		margin: 20px;
	}

	/* FEED PAGE */
	h2.section-heading {
		font-size: 4rem;
		margin-bottom: 1.85rem
	}

	/* ABOUT US PAGE */
	.about#box-container {
		max-width: 650px;
	}
	
	.about h2 {
		font-size: 5rem;
	}

	.about p {
		font-size: 1.75rem;
	}






}